.A{background-color:black;
   width:infinite;
   height:70px;
   }
*{margin:0px;
  padding:0px;}
#C{color:white;
   font-size:50px;
   margin-left:20px;
   margin-top:10px;}
.B{color:black;
   background-color:white;
   height:35px;
   width:300px;
   margin-top:15px;
   margin-right:20px;
   font-family:roboto; }

.D{
  background-image: url('Background image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:980px;
   height:1760px;}
body {background-color:black;}
.E{width:250px;
   height:250px:}
#F{font-family:cursive;
   font-size:60px;
   color:aqua;
   display:inline-block;}
