.A {
   background-color: black;
   width: infinite;
   height: 70px;
}

* {
   margin: 0px;
   padding: 0px;
}

#C {
   color: white;
   font-size: 50px;
   margin-left: 20px;
   margin-top: 10px;
}

.D {
   background-image: url('Background image.jpg');
   background-size: cover;
   width: 100vw;
   height: 700px;
}

body {
   background-color: black;
   overflow-x:hidden;
}

.E {
   width: 350px;
   height: 350px;
   z-index: 2;
   position: absolute;
   top:290px
   margin-top:700px;
}

#B {
   color: aqua;
   font-size: 80px;
   font-family: Garamond;
   margin-top: 350px;
}

#F {
   color: white;
   font-size: 40px;
   font-family: arial;
}

b {
   color: white;
   font-size: 40px;
   font-family: arial;
}

.overlay {
   content: '';
   width: 100vw;
   height: 700px;
   position: absolute;
   z-index: 1;
   top: 80px;
   left: 0;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0), rgb(0, 0, 0));
}
